<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="/css/main.css" rel='stylesheet' type='text/css' />
    <title>Printing Service</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/tooltip.js"></script>
  </head>
  <body class="col-flex">

    <%- include toolbar %>

    <div class="row container-fluid">
      <%- include navigation %>
      <div class="col-9 container-fluid">
        <%- body %>
      </div>
    </div>
    
  </body>
</html>