<div class="col-3" style="padding-left:0px;padding-right:0px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link <% if(pageName == 'overview'){ %> active <% } %>" id="overview-tab" href="/">Overview</a>
        <a class="nav-link <% if(pageName == 'connection'){ %> active <% } %>" id="connections-tab" href="/connection">Connection Settings</a>
        <a class="nav-link <% if(pageName == 'ftp'){ %> active <% } %>" id="ftp-tab" href="/ftp">FTP Settings</a>
        <a class="nav-link <% if(pageName == 'printer'){ %> active <% } %>" id="printer-tab" href="/printer">Printer Settings</a>
    </div>
</div>