<% layout('index') -%>

<div class="col container">
    <h3>Printer Settings</h3>
    <!-- <div class="col">
        <% if (!network && !wifi){ %>
        <span style="font-style:italic; color:red">No connection.</span>
        <% } %>
    </div> -->
    <br />
    <form class="col container" method = "post">
        <div class="row pb-2">
            <div class="col-1"><font class="h5_font" for = "user">Printer : </font></div>
            <div class="col-4">
                <select name = "file_type"  class="custom-select">
                    <option></option>
                </select>
            </div>
        </div>
    </form>
</div>